* {max-height: 1000000px;}
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {height: 100%;}

body {
  margin: 0;
  min-width: 320px;
  height: 100%;
  background: #F8B5A3;
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: 100%;
  background-image: url(../images/main2.jpg);
  background-repeat: repeat;
  background-size: cover;
  background-position: 50% 50%;
  font: 12px/15px "Gaegu", cursive;
}

img {border-style: none;}

a {
  text-decoration: none;
  color: #C70039;

  &:hover {
    text-decoration: underline;
  }

  &:active {
    background-color: transparent;
  }
}

input,
textarea,
select {
  color: #000;
  vertical-align: middle;
  font: 100%, "HelveticaNeue", Helvetica, Arial, sans-serif;
}

form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}

header, footer, article,
section, hgroup, nav, figure {display: block;}

figure {
  margin: 0;
  padding: 0;
}

q {
  quotes: none;

  &:before,
  &:after {
    content: "";
  }
}

input[type=text],
input[type=checkbox],
input[type=password],
input[type=file],
input[type=submit],
textarea {
  -webkit-appearance: none;
}

button {
  cursor: pointer;
}

.page {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 10px;
}

.main-header {
  background: rgba(252, 147, 147, 0.7);
  padding: 10px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trello-menu,
.user-settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
} 

.user-settings img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 15px;
}

.container { //was content in Natalia's Trello
  width: 100%;
  overflow: auto;
  height: calc(100vh - 80px);
  padding: 0 0 20px;
}

.content { //was container in Natalia's Trello
  display: flex;
  align-items: flex-start;
  height: 100%;
}

.group,
.add-group {
  width: 300px;
  padding: 10px;
  border-radius: 6px;
  background:  rgba(252, 147, 147, 0.7);
  margin: 10px;
  flex: 0 0 300px;
  max-height: 100%;
}

.group {
  display: flex;
  flex-direction: column;
}

.card-holder {
  height: 100%;
  overflow: auto;
}

.group:first-child {margin-left: 0;}
.group:last-child {margin-right: 0;}

.add-group {
  width: 100%;
  // padding: 10px;
  // border-radius: 6px;
  // background: rgba(246, 173, 74, 0.9);
  // margin: 10px;
  // flex: 0 0 300px;
}

.group-header {
  font-size: 25px;
  font-weight: bold;
  margin: 0 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  background: #fff;
  margin: 0 0 10px; // or 10px
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  border-radius: 6px;
}

.card-header {
  font-size: 20px;
  // margin: 0 0 10px; // Need this?
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info h2 {
   margin: 0;
}

.relevance {
  width: 35px;
  height: 7px;
  border-radius: 6px;
  background: #0AA023;
}

.card-content {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  justify-content: space-between;
  align-items: center;
}

.card-content img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.add-card {
  width: 100%;
  display: block;
  background: none;
  padding: 0;
  border: 0;
  font-size: 18px;
  text-align: left;
  font-family: "Gaegu";
}

.add-group-description {
  display: none;
}

.add-group-button {
  background: none;
  border: 0;
  padding: 0;
  text-align: left;
  font-size: 18px;
}

.add-group-edit .add-group-button {
  display: none;
}

.add-group-edit .add-group-description {
  display: block;
}

.add-group-description input[type=text] {
  width: 100%;
  background: #fff;
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 6px;
  outline: none;
  display: block;
  margin: 0 0 10px;
}

.add-group-description input[type=text]:focus {
  border: 2px solid #F52E46;
}

.btn {
  background: #F52E46;
  border-radius: 6px;
  padding: 10px;
  border: 0;
  color: #fff;
  font-weight: bold;
}

.btn:hover {
  background: #fff;
  color: #F52E46;
}

.card-popup {
  position: absolute;
  top: 100px;
  left: 50%;
  max-width: 600px;
  width: 100%;
  transform: translate(-50%);
  background: #fff;
  z-index: 2;
  padding: 10px;
  border-radius: 6px;
}

.card-popup-holder:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
}

.header-popup {
  margin: 0 0 10px;
  display: flex;
}

.header-input {
  border: 0;
  width: 100%;
  background: none;
  padding: 0;
  font-size: 23px;
  color: #000;
}

.card-popup-holder .progress {
  width: 100%;
}

.card-popup-holder .info {
  margin: 0 0 10px;
}

.description-edit-block {
  display: none;
}

.description {
  font-size: 15px;
  line-height: 1.2;
}

.description-edit .description-block {
  display: none;
}

.description-edit .description-edit-block {
  display: block;
}

.description-edit-block textarea {
  border: 0;
  width: 100%;
  background: none;
  padding: 0;
  font-size: 15px;
  line-height: 1.2;
  resize: none;
  height: 100px;
  overflow: auto;
}








// progress bar
.progress {
  width: 70%;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
}

.progress progress {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  left: -777px;
}

.progress-bar {
  overflow: hidden;
  background: #ac92ec;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.progress-bg {
  background: #e6e9ed;
  position: relative;
  height: 8px;
  border-radius: 5px;
  overflow: hidden;
}

.progress-bar:after {
  background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  -webkit-background-size: 40px 40px;
  background-size: 40px 40px;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.progress progress[value="1"] + .progress-value:before {
  content: "1%"; 
}
.progress progress[value="1"] ~ .progress-bg .progress-bar {
  width: 1%; 
}

@for $i from 0 through 100 {
    .progress progress[value="#{$i}"] {
      & + .progress-value:before { content : '#{$i}%' }
      & ~ .progress-bg .progress-bar { width: $i * 1% }
    }
} // end of progress bar